
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

#LoginPage{
	width:600px;
	height:300px;
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:grey;
}

#skladiscnik{
	width:1200px;
	height:800px;
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:grey;
	visibility:hidden;
	
}
#connectionStatus{
		font-family:monospace;
		font-size:12px;
		width:100%;
		text-align:center;
}

#statusLogin{
		font-family:monospace;
		font-size:12px;
		width:100%;
		text-align:center;
}
#titleLogin{
	font-family:monospace;
	font-size:25px;
	width:100%;
	text-align:center;
}